body {
    background-color: SkyBlue;
}

p {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 15px;
}

input[type=range] {
    -webkit-appearance: none;
    width: 300px;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: solid;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background-color: Orange;
    margin-top: -4px;
    border-color: Orange;
    cursor: pointer;
}

input[type="range"]:focus {
    outline: none;
}

.main {
    background-color: LightGray;
    margin: auto;
    width: 50%;
    height: 600px;
    border: ridge;
}

.metronome {
    background-color: Ivory;
    margin: auto;
    width: 99%;
    height: 490px;
    border: ridge;
    position: relative;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.underline {
    text-decoration: underline;
}

.strikeout {
    text-decoration: line-through;
}

.overline {
    text-decoration: overline;
}

.accent {
    background-color: Red;
}

button {
    background-color: Ivory;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 25px;
    cursor: pointer;
}

p {
    cursor: default;
}

#display {
    width: 100%;
    text-align: center;
    padding-top: 190px;
    font-weight: bolder;
    font-size: 50px;
}

#time {
    position: absolute;
    width: 50px;
    height: 50px;
    text-align: center;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-weight: bold;
    font-size: 20px;
}

#back,
#next {
    height: 100px;
    width: 100px;
    position: absolute;
}

#back {
    right: 100px;
}

#next {
    right: 0;
}

#back.grayOut,
#next.grayOut {
    background-color: LightGray;
    color: Gray;
    cursor: not-allowed;
}

#logo {
    font-size: 35px;
    display: inline;
    padding-left: 70px;
}

#heading {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

#pageBar {
    padding-left: 100%;
}

#beatCount {
    left: 27%;
    font-weight: bolder;
    position: absolute;
    display: inline;
    font-size: 35px;
}
